<?xml version="1.0"?>
<!--http://localhost:54470/ITZ/web.config
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|database.mdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
	</system.web>
</configuration>
